body{
  margin: 0;
  padding: 0;
  font-family: monospace;
}

html{
  font-size: 16px;
}

a{
  text-decoration: none;
  color: #fff;
}

header{
  position: relative;
  background-color: #5591D1;
  padding: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #444;
  opacity: 0.4;
}

.profile_photo{
  flex-basis: 200px;
  width: 200px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.profile_name{
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  z-index: 2;
  color: #fff;
}

.profile_stats{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 2;
}

.profile_stats_element{
  color: #fff;
  font-size: 1.4rem;
  padding: 10px;
  text-align: center;
}

.profile_stats_element:nth-child(2){
  border-left: 2.5px solid rgba(255, 255, 255, 0.6);
  border-right: 2.5px solid rgba(255, 255, 255, 0.6);
}

.profile_btn-follow{
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #FF5964;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
}

.profile_btn-follow:hover{
  cursor: pointer;
  background-color: #E0454F;
}

nav{
  background-color: #444;
}

.menu{
  margin: 0;
  padding: 20px 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
}

.menu_element{
  text-align: center;
  font-size: 1.7rem;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.menu_element:hover{
  background-color: #5591D1;
}

.active{
  background-color: #6AD13E;
}

.wrapper{
  background-color: #e3e3e3;
  padding: 100px 100px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
}

.photo{
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #666;
}

.photo_big{
  grid-column: 1/3;
}

.photo_small{
  grid-column: 3/4;
}

.photo_big_right{
  grid-column: 2/4;
}

.photo_small_left{
  grid-column: 1/2;
}

@media screen and (max-width: 1100px){
  .menu{
    padding: 20px 50px;
  }
  .wrapper{
    padding: 100px 30px;
    grid-template-columns: 1fr 1fr;
  }
  .photo{
    grid-column: auto;
    height: calc(calc(100vw - 100px)/2);
    max-height: 400px;
  }
}

@media screen and (max-width: 720px){
  .wrapper{
    padding: 100px 50px;
    grid-template-columns: 1fr;
  }
  .photo{
    grid-column: 1;
    height: calc(100vw - 100px);
    max-height: 500px;
  }
  .menu_element{
    flex-basis: 200px;
    flex-grow: 1;
  }
}

@media screen and (max-width: 480px){
  .wrapper{
    padding: 50px 20px;
  }
  .photo{
    height: calc(100vw - 40px);
  }
  html{
    font-size: 14px;
  }
}
